PROJECT_PATH="$HOME/projects/magento/ee/v2.3.2"

MYSQL_HOST="localhost"
MYSQL_USERNAME="root"
MYSQL_PASSWORD="root"
MYSQL_DATABASE="magento-ee-2-3-2"

MAGENTO_BASE_URL="http://magento-ee-2-3-2.local"
MAGENTO_BACKEND_FRONTNAME="admin"
MAGENTO_ADMIN_USER="admin"
MAGENTO_ADMIN_PASSWORD="admin123"
MAGENTO_ADMIN_FIRSTNAME="admin"
MAGENTO_ADMIN_LASTNAME="admin"
MAGENTO_ADMIN_EMAIL="noreply@domain.com"
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=America/Los_Angeles

MAGENTO_EDITION=enterprise
MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=
